## specifics
*.png
*.log
*.nii.gz
imgs/*
data_inventory.json
data_jsons/*
outputs/*

# papermill output
output.ipynb
out*.ipynb

## Default stuff
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# C extensions
*.so

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

